* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* ----------- dimensions  ------------- */

    --document-width: 1600px;

    --header-height: 120px;

    --section-promo-height: 750px;
    --section-about-height: 710px;
    --section-ingredients-height: 757px;
    --section-menu-height: 994px;
    --section-reviews-height: 759px;
    --section-reservations-height: 710px;

    --footer-height: 320px;

    --section-padding: 215px;

    /* -------------- colors  --------------- */

    --header-logo: #ffffff;
    --header-navigation: rgba(255, 255, 255, 255);
    --header-navigation-off: rgba(255, 255, 255, 0);
    --header-social: #dab33e;

    --header-background-top: rgba(0, 0, 0, 0.4);
    --header-background-bottom: rgba(0, 0, 0, 0.0);

    --footer-text-color: #fefefe;
    --footer-background-color: #191919;

}

/* -------------- MAIN  ---------------- */

body {
    display: grid;
    grid-template-rows:
        var(--section-promo-height) var(--section-about-height) var(--section-ingredients-height) var(--section-menu-height) var(--section-reviews-height) var(--section-reservations-height);
    grid-row-gap: 0px;
    width: var(--document-width);
    margin: 0 auto;
}

header {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: var(--document-width);
    height: var(--header-height);
    padding: 0 185px;
    background-image: linear-gradient(var(--header-background-top), var(--header-background-bottom));
}

section {
    border: 1px solid yellow;
    background-color: grey;
}

.section-container,
.footer-container {
    padding: 0 var(--section-padding);
    display: grid;
    grid-template-columns: repeat(12, 70px);
    grid-gap: 0 30px;
    grid-template-areas: "1c | 2c | 3c | 4c | 5c | 6c | 7c | 8c | 9c | 10c | 11c | 12c";
    height: 100%;
    align-content: end;
}

.section-container {
    /* background-color: red; */
}

footer {
    height: var(--footer-height);
    padding: 52px 0;
    background-color: var(--footer-background-color);
}


/* -------------- STYLING HEADER ---------------- */

.header-logo {
    flex-grow: 100;
    display: flex;
    align-items: center;
    flex: 1 1 300px;
    height: 100%;
    font-size: 36px;
    color: var(--header-logo);
    font-family: "Yeseva One";
    font-weight: 400;
    text-align: left;
}

.header-navigation {
    display: flex;
    flex: 1 1 700px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.header-navigation>ul {
    display: flex;
    align-items: stretch;
    align-content: center;
    flex: 2 1 400px;
    justify-content: space-between;
    text-decoration: none;
    height: 100%;
}

.header-navigation>ul>li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: var(--header-navigation);
    font-family: "Gentium Book Basic";
    font-weight: 700;
    border-top: 4px solid var(--header-navigation-off);
}

.header-navigation>ul>li>a {
    text-decoration: none;
    color: var(--header-navigation);
}

.header-navigation>ul>li:hover {
    border-top: 4px solid var(--header-navigation);
}

.header-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
}

.header-social>i {
    font-size: 21px;
    width: 35px;
    text-align: center;
    color: var(--header-social);
    ;
}

/* -------------- STYLING SECTIONS ---------------- */


/* -------------- PROMO ---------------- */

.promo {
    padding: 110px 0;
    background-image: url(../images/promo-background.jpg);
}

.promo .section-container {}

.promo .section-container>h2 {
    grid-column: span 12;
    font-size: 90px;
    line-height: 114px;
    color: #ffffff;
    font-family: "Yeseva One";
    font-weight: 400;
    text-align: center;
    filter: drop-shadow(0.469px 0.883px 1px rgba(1, 1, 1, 0.64));
}

.promo-decoration {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-content: center;
}

.promo-decoration>img {
    text-align: center;
    width: 240px;
    height: 100px;
    margin: 0 auto;
}

.promo-buttons {
    height: 90px;
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-content: center;
}

.promo-black-button,
.promo-white-button {
    margin: 0 20px;
    width: 228px;
    height: 57px;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}

.promo-black-button {
    background-color: rgba(0, 0, 0, 0.7019607843137254);
    border: 1px solid #000000;
    color: #ffffff; 
}

.promo-white-button {
    background-color: rgba(255, 255, 255, 0.2784313725490196);
    border: 1px solid #ffffff;
    color: #ffffff;
}

/* -------------- end ---------------- */

.about {}

.ingredients {}

.menu {}

.reviews {}

.reservations {}

/* -------------- STYLING FOOTER ---------------- */

.footer-container {
    height: 100%;
    color: var(--footer-text-color);
}

.footer-container-section {
    height: 100%;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-container-section>h3 {
    width: 100%;
    font-family: 'Yeseva One', cursive;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
}

.footer-container-section-decoration {
    width: 100%;
    height: 52px;
}

.footer-container-section-decoration>img {
    width: 55%;
    height: 52px;
    opacity: 0.5;
}

.footer-container-section-text {
    flex-grow: 100;
    width: 100%;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-container-section-social {
    width: 100%;
    height: 36px;
}

.footer-container-section-social>i {
    width: 24px;
    height: 20px;
}