/* ----------88888 reset --------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------- variables  ------------- */
:root {

    /* ----------- dimensions  ------------- */

    /* -------------- colors  --------------- */

    --background: #222;
    --title: #bbb;
    --textAreaBackground: #111;
    --keyboard: #444;
    --key-inactive: #111;
    --key-active: #f00;
    --key-symbol: #eee;
    --border: #777;
}

body {
    background-color: var(--background);
}

/* ---- Virtual Keyboard ---- */
.vk-container {
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}

.vk-title {
    text-align: center;
    font-size: 32px;
    color: var(--title);
}

.vk-textarea {
    display: block;
    width: 800px;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 26px;
    color: rgb(190, 190, 190);
    background-color: var(--textAreaBackground);
    border: 1px solid var(--border);
    border-radius: 8px;
}

.vk-keyboard {
    width: 800px;
    margin: 0 auto;
    padding: 0px;
    background: var(--keyboard);
    border-radius: 8px;
}

.vk-row {
    display: flex;
    width: 100%;
    height: 54px;
}

.vk-key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 6px 4px;
    color: var(--key-symbol);
    background: var(--key-inactive);
    border-radius: 4px;


}

.press {
    background: red;
}

textarea {
    resize: none;
}

/* ----------- keys size in 1 row  ------------- */
.vk-row:nth-child(1) .vk-key:nth-child(14) {
    flex-grow: 5.0;
}

/* ----------- keys size in 2 row  ------------- */
.vk-row:nth-child(2) .vk-key:nth-child(1) {
    flex-grow: 2.0;
}

.vk-row:nth-child(2) .vk-key:nth-child(14) {
    flex-grow: 1.0;
    height: 96px;
}

/* ----------- keys size in 3 row  ------------- */
.vk-row:nth-child(3) .vk-key:nth-child(1) {
    flex-grow: 8.0;
}

.vk-row:nth-child(3) .vk-key:nth-child(13) {
    margin-right: 88px;
}

/* ----------- keys size in 4 row  ------------- */
.vk-row:nth-child(4) .vk-key:nth-child(1) {
    flex-grow: 5.0;
}

.vk-row:nth-child(4) .vk-key:nth-child(13) {
    flex-grow: 5.0;
}

/* ----------- keys size in 5 row  ------------- */
.vk-row:nth-child(5) .vk-key:nth-child(1) {
    flex-grow: 4.0;
}

.vk-row:nth-child(5) .vk-key:nth-child(4) {
    flex-grow: 12.0;
}

.vk-row:nth-child(5) .vk-key:nth-child(7) {
    height: 20px;
    margin-top: 28px;
}

.vk-row:nth-child(5) .vk-key:nth-child(8) {
    height: 20px;
}

.vk-row:nth-child(5) .vk-key:nth-child(9) {
    height: 20px;
    margin-left: -46px;
    margin-top: 28px;
}

.vk-row:nth-child(5) .vk-key:nth-child(10) {
    height: 20px;
    margin-top: 28px;
}